.verbum {
  position: fixed;
  left: var(--verbum-left);
  top: var(--verbum-top);
  padding: var(--size-4-4);
  max-width: var(--popover-width);
  width: max-content;
  background-color: var(--background-primary) !important;
  color: var(--text-normal);
  font-size: var(--font-small);
  line-height: var(--line-height-normal);
  text-wrap: pretty;
  border: var(--border-width) solid var(--background-modifier-border);
  border-radius: var(--radius-m);
  z-index: var(--layer-popover);
  opacity: 0;
  pointer-events: none;
  &:before {
    content: attr(data-verbum);
    margin-right: var(--size-2-2);
    padding: 0 var(--size-2-2);
    width: max-content;
    display: inline-block;
    background-color: var(--background-modifier-active-hover);
    color: var(--text-accent);
    font-weight: var(--font-semibold);
    border-radius: var(--radius-s);
  }
}

.verbum.visible {
  opacity: 1;
  pointer-events: auto;
}

.verbum-origin {
  margin-right: var(--size-2-2);
  padding: 0 var(--size-2-2);
  color: var(--text-muted);
  font-style: oblique;
}

mark {
  cursor: var(--cursor-link);
}
